{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>TourCletas - ¿necesitas una bicicleta? somos la respuesta.</title>
	<link rel="stylesheet" href="{% static 'core/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
	<link rel="stylesheet" href="{% static 'core/vendors/css/vendor.bundle.base.css' %}">
	<link rel="stylesheet" href="{% static 'core/vendors/css/vendor.bundle.addons.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
	<link rel="shortcut icon" href="{% static 'core/images/favicon.png' %}" />
</head>
<body>
	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
			<div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
				<div class="row w-100">
					<div class="col-lg-4 mx-auto">
						{% if messages %}
						{% for message in messages %}
						<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						{% endfor %}
						{% endif %}
						<div class="auto-form-wrapper">
							<form method="POST">
								{% csrf_token %}
								<div class="form-group">
									<label class="label">Nombre de usuario</label>
									<div class="input-group">
										<input type="text" name="username" id= "username" class="form-control" placeholder="Ingrese su usuario">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="mdi mdi-check-circle-outline"></i>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="label">Contraseña</label>
									<div class="input-group">
										<input type="password" name="password" id="password" class="form-control" placeholder="Ingrese su contraseña">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="mdi mdi-check-circle-outline"></i>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<button class="btn btn-primary submit-btn btn-block">Identificarse</button>
								</div>
								<div class="form-group d-flex justify-content-between">
									<div class="form-check form-check-flat mt-0">
										<label class="form-check-label">
											<input type="checkbox" class="form-check-input" checked>Mantener inicio sesión
										</label>
									</div>
									<a href="#" class="text-small forgot-password text-black">¿Olvidaste tu contraseña?</a>
								</div>
								<div class="text-block text-center my-3">
									<span class="text-small font-weight-semibold">¿No te registras aún?</span>
									<a href="{% url 'signup' %}" class="text-black text-small">Crearse nueva cuenta</a>
								</div>
							</form>
            			</div>
            			<ul class="auth-footer">
            				<li>
            					<a href="#">Condiciones</a>
            				</li>
            				<li>
            					<a href="#">Ayuda</a>
            				</li>
            				<li>
            					<a href="#">Terminos</a>
            				</li>
            			</ul>
            			<p class="footer-text text-center">copyright © 2018 Bootstrapdash. All rights reserved.</p>
            		</div>
            	</div>
            </div>
        </div>
    </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'core/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'core/vendors/js/vendor.bundle.addons.js' %}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static 'core/js/off-canvas.js' %}"></script>
  <script src="{% static 'core/js/misc.js' %}"></script>
  <!-- endinject -->
</body>
</html>