{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>TourCletas - ¿necesitas una bicicleta? somos la respuesta.</title>
	<link rel="stylesheet" href="{% static 'core/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
	<link rel="stylesheet" href="{% static 'core/vendors/css/vendor.bundle.base.css' %}">
	<link rel="stylesheet" href="{% static 'core/vendors/css/vendor.bundle.addons.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
	<link rel="shortcut icon" href="{% static 'core/images/favicon.png' %}" />
</head>
<body>
	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
			<div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
				<div class="row w-100">
					<div class="col-lg-4 mx-auto">
						<div class="auto-form-wrapper">
							<form method="POST">
								{% csrf_token %}
								<div class="form-group">
									<label class="label">{{ form.username.label_tag }}</label>
									<div class="input-group">
										<input type="text" name="username" id="username" class="form-control" placeholder="Ingrese su nombre de usuario">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="mdi mdi-check-circle-outline"></i>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="label">{{ form.first_name.label_tag }}</label>
									<div class="input-group">
										<input type="text" name="first_name" id="first_name" class="form-control" placeholder="Ingrese sus Nombres">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="mdi mdi-check-circle-outline"></i>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="label">{{ form.last_name.label_tag }}</label>
									<div class="input-group">
										<input type="text" name="last_name" id="last_name" class="form-control" placeholder="Ingrese sus Apellidos">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="mdi mdi-check-circle-outline"></i>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="label">{{ form.email.label_tag }}</label>
									<div class="input-group">
										<input type="email" name="email" id="email" class="form-control" placeholder="Ingrese su correo electornico">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="mdi mdi-check-circle-outline"></i>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="label">{{ form.telefono.label_tag }}</label>
									<div class="input-group">
										<input type="text" name="telefono" id="telefono" class="form-control" placeholder="Ingrese su numero telefonico">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="mdi mdi-check-circle-outline"></i>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="label">{{ form.password1.label_tag }}</label>
									<div class="input-group">
										<input type="password" name="password1" id="password1" class="form-control" placeholder="Ingrese su contraseña">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="mdi mdi-check-circle-outline"></i>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="label">{{ form.password2.label_tag }}</label>
									<div class="input-group">
										<input type="password" name="password2" id="password2" class="form-control" placeholder="Confirme contraseña">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="mdi mdi-check-circle-outline"></i>
											</span>
										</div>
									</div>
								</div>
									<button class="btn btn-primary submit-btn btn-block">Registrarse</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- container-scroller -->
	<!-- plugins:js -->
	<script src="{% static 'core/vendors/js/vendor.bundle.base.js' %}"></script>
	<script src="{% static 'core/vendors/js/vendor.bundle.addons.js' %}"></script>
	<!-- endinject -->
	<!-- inject:js -->
	<script src="{% static 'core/js/off-canvas.js' %}"></script>
	<script src="{% static 'core/js/misc.js' %}"></script>
	<!-- endinject -->
</body>
</html>